<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Campus Cat Petition</title>
</head>
<header>
    <a href="/">Home</a>
</header>

<body>

    {{{body}}}




</body>
<footer>&copy; michal 2020</footer>

</html>