<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Campus Cat Petition</title>
</head>
<header>
    <navbar>
        <ul style="display: inline-flex; width: 100vw; justify-content: space-between">
            <li><a href="/">Home</a></li>
            <li><a href="/thankyou">Your Signature</a></li>
            <li><a href="/editprofile">Your Profile</a></li>
            <li><a href="/signers">Our Supprters</a></li>
            <li><a href="/logout">Log Out</a></li>

        </ul>
    </navbar>

</header>

<body>

    {{{body}}}




</body>
<footer>&copy; Cat Lovers of Spiced 2020</footer>

</html>