<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/reg.css" type="text/css">
    {{!--fonts--}}

    <link
        href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Indie+Flower&family=Itim&family=Righteous&family=Shadows+Into+Light&display=swap"
        rel="stylesheet">

    {{!--endfonts--}}
    <title>Campus Cat Petition</title>
</head>
<header>
    <navbar>
        <a href="/"><img class="home" alt="cat icon" src="Homelogo.png"></a>
        <ul>
            <li><a href="/thankyou">Your Paw-print</a></li>
            <li><a href="/editprofile">Your Purrrrofile</a></li>
            <li><a href="/signers">Our Suppurrrrters</a></li>
            <li><a href="/logout">Meow-Out</a></li>

        </ul>
    </navbar>

</header>

<body>

    {{{body}}}




</body>
<footer>&copy; Cat Lovers of Spiced 2020</footer>

</html>