<h1>Campus Cat</h1>
<form>
    <input name="first" placeholder="first name">
    <input name="last" placeholder="last name">
    <input name="signature" type="hidden">
    <canvas id="canvas" width="400" height="80" style="background-color: blue; border: 2px dashed white;">Your signature
        here</canvas>
    <button>Submit!</button>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/script.js"></script>

</form>