<section class="pagebody">

    <div class="jumbotron"></div>
    <img src="CampusCat.jpg" alt="kitty holding a sign" class="kittysign">
    <section class="sidebar">
        <p class="intro"><span>Cats make us happy.</span><br>
            They support us when we're sad or stressed and their purring has a calming effect.
            Every campus should have a cat, for the wellbeing of the students.<br> We here at Spiced should set an example.
            <br><br>
            Thank you for visiting our petition, and hopefully you'll join our cause!
            <br>
        </p>
        <img id="catpaw" src="Catpaw.png">

    </section>
    </div>
</section>