<h1>Campus Cat</h1>
<form method="POST">
    {{#if error}}
    <h3>please fill in all fields!</h3>
    {{/if}}
    <input name="first" placeholder="first name" type="text">
    <input name="last" placeholder="last name" type="text">
    <input id="signature" name="signature" type="hidden">
    <canvas id="canvas" width="400" height="80" style="background-color: white; border: 2px dashed red;"></canvas>
    <button type="submit" id="submit">Submit!</button>
    <button id="clear">Clear</button>
    <input name="_csrf" value="{{csrfToken}}" type="hidden">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/script.js"></script>

</form>