{{!--login--}}
{{!--Error handling--}}
{{#if error}}
<p class="error">incorrect username or password</p class="error">
{{/if}}

{{!--<img>--}}
<h1>Glad to see you again!</h1>
<h3>So nice of you to still care.<br>
    Please log in:
</h3>
<form method="POST">
    <table>
        <tr>
            <td><label>Your Email Address</label></td>
            <td><input name="email" type="text"></td>
        </tr>
        <tr>
            <td><label>Your Password</label></td>
            <td><input name="pwd" type="password"></td>
        </tr>

    </table>
    <br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" id="signup">Meow in</button>
    <br>
</form>
<p>Not a member yet? please <a href="/reg">meow up</a> here.</p>

<img id="catwitheyes" alt="maine coon cat with big eyes" src="6.png"