<h3>We want to get to know you better:
</h3>
<form method="POST">
    <input name="age" type="text">
    <label>Your Age</label>
    <br>
    <input name="city" type="text">
    <label>Your City</label>
    <br>
    <input name="homepage" type="text">
    <label>Your Homepage</label>
    <br>
    <button type="submit" id="signup">Continue</button>
    <br>
    <p>Or you can <a href="/petition">skip</a> to the next page.</p>
</form>