{{!--registration--}}

{{!--Error handling--}}
{{#if error}}
<h3 class="error">Please fill in all fields!</h3>
{{/if}}
{{#if duplicateKey}}
<h3 class="error">Some other cat haz your email!</h3>
{{/if}}

<div class="pagebody">
    <div class="jumbotron"></div>
    <img src="CampusCat.jpg" alt="kitty holding a sign" class="kittysign">
    <div class="sidebar">
        <form class="reg_form" method="POST">
            <a href="/welcome">
                <img id="hide_pet" src="Catpaw.png">
            </a>
            <label>Your Name</label>
            <input name="first" type="text">

            <label>Your Last Name</label>
            <input name="last" type="text">

            <label>Your Email Address</label>
            <input name="email" type="text">

            <label>Your New Password</label>
            <input name="pwd" type="password">


            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" id="signup">Sign meowe up!</button>

        </form>
        <p id="ar_mem">Already a member? <br>please <a href="/login">meow-in</a>!</p>

    </div>

</div>