{{!--thankyou--}}
<h1 class="thanks">{{thanks}}</h1>
<section class="topsection">

    <img src="{{dataUrl}}" class="userSig">
    <div class="deletesig">
        <form action="/thankyou" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="deleteSig">🗑</button>
        </form>
    </div>
</section>

<section class="thanksbody">
    <div class="jumbotron" id="tyjumbo">
    </div>
    {{!--<div id="filler"></div>--}}
    <p class="cz">Thanks to you, we're one step closer to having the Comfort Zone look like this!</p>
    <div class="signerslink">
        <a href="/signers">
            <h3> {{signatures}}
            </h3>
        </a>
    </div>

</section>