<div class="pagebody">
    <div class="jumbotron"></div>
    <img src="CampusCat.jpg" alt="kitty holding a sign" class="kittysign">
    <div class="sidebar">
        <p class="intro"><span>Cats make us happy.</span><br>
            They support us when we're sad or stressed and their purring has a calming effect.
            Every campus should have a cat, for the wellbeing of the students.<br> We here at Spiced should set
            an example.
            <br><br>
            Agree?
            <br>
            High-five the paw to sign the petition:
            <br>
        </p>
        <a id="show_pet" href="/reg">
            <img id="show_pet" src="Catpaw.png">
        </a>
        <p id="ar_mem">Already a member? <br>please <a href="/login">meow-in</a>!</p>

    </div>
</div>